<div class="container">
    <form (ngSubmit)="loginUser()">
        
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customer.email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" [(ngModel)]="customer.password">
          </div>
          
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>