<div class="container mt-5">
    <div class="title">
      <h3>Notifications</h3>
    </div>
</div>
<div class="alert alert-info" *ngFor="let item of myNotifications; let i = index" [attr.data-index]="i">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">info_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="readOrNot(item.id)" >
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>

        <b>Info alert:</b> Congratulations ! {{ username }} Your order {{item.product_name }} , order_id {{item.order_id}} has been received.It will be delivered soon.Ordre status = {{item.order_status}}.thank you !. please shop more and get extra offers.
    </div>
</div>


<footer class="footer text-center ">
    <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
</footer>

<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
