<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Digi-Admin </div>
      <div class="list-group list-group-flush">
        <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="addProduct" class="list-group-item list-group-item-action bg-light">Add Product</a>
        <a routerLink="getOrders" class="list-group-item list-group-item-action bg-light">Orders</a>
        <a routerLink="getProduct" class="list-group-item list-group-item-action bg-light">Products</a>
        <a routerLink="getUsers" class="list-group-item list-group-item-action bg-light">Users</a>
        <a routerLink="userAddress" class="list-group-item list-group-item-action bg-light">User Address</a>
        <a routerLink="inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">

  <!-- Page Content -->
  <div class="container">

   

    <!-- Page Features -->
    <div class="row text-center">

    

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:100%">
            <h4 class="card-title">Orders</h4>
            <p class="card-text">{{ data[0] }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="w3-blue w3-hover-shadow w3-padding-64 w3-center" style="width:100%">
            <h4 class="card-title">Products</h4>
            <p class="card-text">{{ data[1] }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="w3-yellow w3-hover-shadow w3-padding-64 w3-center" style="width:100%">
            <h4 class="card-title">Users</h4>
            <p class="card-text">{{ data[2] }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="w3-purple w3-hover-shadow w3-padding-64 w3-center" style="width:100%">
            <h4 class="card-title">Messages</h4>
            <p class="card-text">{{ data[3] }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->