<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Digi-Admin </div>
    <div class="list-group list-group-flush">
      <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="addProduct" class="list-group-item list-group-item-action bg-light">Add Product</a>
      <a routerLink="getOrders" class="list-group-item list-group-item-action bg-light">Orders</a>
      <a routerLink="getProduct" class="list-group-item list-group-item-action bg-light">Products</a>
      <a routerLink="getUsers" class="list-group-item list-group-item-action bg-light">Users</a>
      <a routerLink="userAddress" class="list-group-item list-group-item-action bg-light">User Address</a>
      <a routerLink="inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Menu</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">

<div class="container">

<form (ngSubmit)="insertProduct()">
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">price</label>
      <input type="text" class="form-control" id="price" name="price" [(ngModel)]="product.price">
    </div>
    <div class="mb-3">
        <label for="specifications" class="form-label">specifications</label>
        <input type="text" class="form-control" id="specifications" name="specifications" [(ngModel)]="product.specifications">
      </div>
     <div class="mb-3">
        <label for="image" class="form-label">Choose Image</label>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image">
      </div>

      <label for="method">Product Category : </label>

        <select name="category"  [(ngModel)]="product.category">
          
          <option value="tv">TV</option>
          <option value="mobile">Mobile</option>
          <option value="cloth">Cloths</option>
          <option value="laptop">Laptop</option>
          <option value="other">Other</option>
        </select>
      
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
