<header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" routerLink="../getProduct"><i class="fa fa-graduation-cap fa-lg mr-2"></i>DigiShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item active pl-1">
						<a class="nav-link" ><i class="fa fa-th-list fa-fw mr-1"></i>Hello {{ username }}</a>
					</li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </a>
                       
                      </li>

					<li class="nav-item pl-1">
						<a class="nav-link"  routerLink="../getOrderList" ><i class="fa fa-th-list fa-fw mr-1"></i>MyOrders</a>
					</li>

                    <li class="nav-item pl-1">
						<a class="nav-link"  routerLink="../myCart" ><i class="fa fa-th-list fa-fw mr-1"></i>MyCart</a>
					</li>
					
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-info-circle fa-fw mr-1"></i>MyProfile</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" ><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>AboutUs</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" routerLink="../contactUs"><i class="fa fa-user-plus fa-fw mr-1"></i>ContactUs</a>
					</li>
			
					<button (click)="logout()" class="btn btn-primary">Logout</button>
                  
					
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
	</header>

<div class="container">


    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hurray!</strong> Order Placed Succesfully.
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
      </div>


      <div *ngIf="alert2" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hurray!</strong> Order Added To Cart.
        
      </div>

      <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{asset + object.image}}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light">{{object.name}}</h1>
          <p>{{ object.price | currency }}</p>
          <p>{{ object.specifications }}</p>
          
        </div>
        <!-- /.col-md-4 -->
      </div>

    <form (ngSubmit)="placeOrder()">
       <!-- <input class="form-control" type="text" placeholder="Price                          :                                             {{order.price | currency }}"  readonly>
        
        <input class="form-control" type="hidden" name="price" [(ngModel)]="order.price">
        <input class="form-control" type="hidden" name="product_id" [(ngModel)]="order.product_id">
        <input class="form-control" type="hidden" name="user_id" [(ngModel)]="order.user_id">-->
        
       
        <div class="form-group">
            <textarea class="form-control" id="address" rows="3" name="address" placeholder="Enter address" name="adress" [(ngModel)]="order.address"></textarea>
        </div>
        <label for="method">Choose a Payment Method : </label>

        <select name="payment_method" id="payment_method" [(ngModel)]="order.payment_method">
          
          <option value="emi">Pay on EMI</option>
          <option value="online">NetBanking/Credit-card/Debit-card</option>
          <option value="cod">Cash On Delivery</option>
         
        </select>        
        <br>
       
        <button type="submit" class="btn btn-success" id="close">Place Order</button>
    </form>

    <button  class="btn btn-warning" (click)="addToCart(order.product_id)">Add To Cart</button>

</div>




<!--- Footer --->
<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
                        <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br>
                        <a href="#" class="text-light d-block lead">Blog</a>
                        </p>

                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
                            <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+90 (000) 000 0 000</a>
                            <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                        <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>
                
                                <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
                            
                                <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
                            
                                <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                            
                                <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                            
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</footer>
<!--# Footer #-->
