<div class="container" >

<form #fdata = "ngForm" (ngSubmit)="submit(fdata.value)">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" id="name" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input name="price" id="price" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
        <label for="specifications">specifications</label>
        <input name="specifications" id="specifications" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
        <label for="category">category</label>
        <input name="category" id="category" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
        <label for="file">File</label>
        <input name="image" id="image" type="file" class="form-control" (change)="onFileChanged($event)" ngModel accept='image/*'>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>

</div>
