<div class="container" >

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hurray!</strong> Message Posted!.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <!-- Default form contact -->
    <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">Contact us</p>
    
        <!-- Name -->
        <input type="text"  name="name" class="form-control mb-4" placeholder="Name" [(ngModel)]="message.name">
    
        <!-- Email -->
        <input type="email"  name="email" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="message.email">
    
        <!-- Subject -->
        <label>Subject</label>
        <select name="subject" class="browser-default custom-select mb-4" [(ngModel)]="message.subject">
        <option value="" disabled  selected>Choose option</option>
        <option value="feedback">Feedback</option>
        <option value="bug">Report a bug</option>
        <option value="request">Feature request</option>
        
        </select>
    
        <!-- Message -->
        <div class="form-group" >
        <textarea name="message" class="form-control rounded-0"  rows="3" placeholder="Message" [(ngModel)]="message.message"></textarea>
        </div>
    
    
        <!-- Send button -->
        <button class="btn btn-warning" type="submit" >Send</button>
    
    </form>
    <!-- Default form contact -->

</div>