<div class="container">
        <div class="row">
            <div class="col-75">
            <div class="container">
                <form (ngSubmit)="cartToPlaceOrder()">
        
                <div class="row">
                    <div class="col-50">
                    <h3>Billing Address</h3>
                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                    <input type="text" id="fname" name="name" placeholder="John M. Doe" [(ngModel)]="customer.name">
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email" placeholder="john@example.com" [(ngModel)]="customer.email">
                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                    <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" [(ngModel)]="order.address">
                    
                    <div class="row">
                        <div class="col-50">
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" placeholder="NY" [(ngModel)]="order.state">
                        </div>
                        <div class="col-50">
                        <label for="zip">Zip</label>
                        <input type="text" id="zip" name="zip" placeholder="10001" [(ngModel)]="order.zip">
                        </div>
                    </div>
                    </div>
        
                    <div class="col-50">
                    <h3>Payment Method & Contacts</h3>
                    <label for="fname">Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <label for="cname"><i class="fa fa-mobile"></i> Mobile Number</label>
                    <input type="text" id="mobile" name="mobile" placeholder="945xxxxx23" [(ngModel)]="order.mobile">
                    <label for="city"><i class="fa fa-institution"></i> City</label>
                    <input type="text" id="city" name="city" placeholder="New York" [(ngModel)]="order.city">
                    <label for="method"><i class="fa fa-money"></i> Choose a Payment Method : </label>
                    <select name="payment_method" id="payment_method" [(ngModel)]="order.payment_method">
                    
                    <option value="emi">Pay on EMI</option>
                    <option value="online">NetBanking/Credit-card/Debit-card</option>
                    <option value="cod">Cash On Delivery</option>
                    
                    </select>
        
                   
                    </div>
        
                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input type="submit" value="Continue to checkout" class="btn">
                </form>
            </div>
            </div>
        
            <div class="col-25">
            <div class="container" >
                <h4>Cart
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b>{{ noOfCartItem }}</b>
                </span>
                </h4>
                <p *ngFor="let item of carts; let i = index" [attr.data-index]="i"><a href="#">{{item.name}}</a> <span class="price">{{item.price| currency}} <span> x </span> {{ item.quantity }}</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
            </div>
            </div>
        </div> 


  </div>