<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Digi-Admin </div>
    <div class="list-group list-group-flush">
      <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="addProduct" class="list-group-item list-group-item-action bg-light">Add Product</a>
      <a routerLink="getOrders" class="list-group-item list-group-item-action bg-light">Orders</a>
      <a routerLink="getProduct" class="list-group-item list-group-item-action bg-light">Products</a>
      <a routerLink="getUsers" class="list-group-item list-group-item-action bg-light">Users</a>
      <a routerLink="userAddress" class="list-group-item list-group-item-action bg-light">User Address</a>
      <a routerLink="inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Menu</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">



<div class="container">
  <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Specifications</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of product; let i = index" [attr.data-index]="i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ pro.id }}</td>
                <td><img src="{{ asset+pro.image }}" style="width:50px;height:50px;"></td>
                <td>{{ pro.name }}</td>
                <td>{{ pro.price }}</td>
                <td>{{ pro.specifications }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteData(pro.id)">Delete</button>
              <button class="btn btn-warning btn-sm mx-2" routerLink="updateProduct/{{ pro.id }}">Edit</button>
              
            </td>
              </tr>
        
        </tbody>
      </table>

</div>