<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input formControlName="price" id="price" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="specifications">specifications</label>
        <input formControlName="specifications" id="specifications" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="category">category</label>
        <input formControlName="category" id="category" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="file">File</label>
        <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
    </div>
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
    <button class="btn btn-primary" type="submit">Submit</button>

</form>
