<div class="container" >

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hurray!</strong> Message Posted!.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>




      <div class="container">
        <article class="card">
            <header class="card-header"> User Orders / Scheduling </header>
            <div class="card-body">
                <h6>Order ID: {{order.id}}</h6>

                <ul class="row">
                  <li class="col-md-4">
                      <figure class="itemside mb-3">
                          <div class="aside"><img src="{{ asset+order.image }}" class="img-sm border"></div>
                          
                      </figure>
                  </li>
                </ul>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                        <div class="col"> <strong>User Contact No:</strong> <br>  <i class="fa fa-phone"></i> +{{order.mobile}} </div>
                        <div class="col"> <strong>Status:</strong> <br> {{order.status}} </div>
                        <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                    </div>
                </article>

                <article class="card">
                  <div class="card-body row">
                      <div class="col"> <strong>Quantity:</strong> <br>{{order.quantity}} </div>
                      <div class="col"> <strong>Product Name:</strong> <br> {{order.name}} </div>
                      <div class="col"> <strong>Postal Code(Zip):</strong> <br> {{order.zip}} </div>
                      <div class="col"> <strong>City :</strong> <br> {{order.city}} </div>
                  </div>
              </article>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                    <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                </div>
                <hr>


              
              


                    <!-- Default form contact -->
              <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()">
   
               
                <!-- Subject -->
                <label>Status</label>
                <select name="subject" class="browser-default custom-select mb-4" [(ngModel)]="order.status">
                <option value="" disabled  selected>Choose option</option>
                <option value="suspended">Suspend</option>
                <option value="cancel">Cancel</option>
                <option value="on the way">On the way</option>
                <option value="delivered">Delivered</option>
                <option value="pending">Pending</option>
                </select>
            
            
            
                <!-- Send button -->
                <button class="btn btn-warning" type="submit" >Schedule</button>
            
            </form>
  <!-- Default form contact -->


                <hr> <a routerLink="../getOrders" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
            </div>
        </article>



    </div>

  

</div>