<div class="container">
  <form (ngSubmit)="createUser()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customer.email">
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="customer.password">
        </div>
        <div class="mb-3">
          <label for="c_password" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" id="c_password" name="c_password" [(ngModel)]="customer.c_password">
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
