
<header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" routerLink="../getProduct"><i class="fa fa-graduation-cap fa-lg mr-2"></i>DigiShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item active pl-1">
						<a class="nav-link" ><i class="fa fa-th-list fa-fw mr-1"></i></a>
					</li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </a>
                       
                      </li>

					<li class="nav-item pl-1">
						<a class="nav-link"  routerLink="../getOrderList" ><i class="fa fa-th-list fa-fw mr-1"></i>MyOrders</a>
					</li>

                    <li class="nav-item pl-1">
						<a class="nav-link"  routerLink="../myCart" ><i class="fa fa-th-list fa-fw mr-1"></i>MyCart</a>
					</li>
					
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-info-circle fa-fw mr-1"></i>MyProfile</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" ><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>AboutUs</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" routerLink="../contactUs"><i class="fa fa-user-plus fa-fw mr-1"></i>ContactUs</a>
					</li>
			
					<button  class="btn btn-primary">Logout</button>
                  
					
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
	</header>

<div class="container">


  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hurray!</strong> Item removed from cart.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>


<div *ngIf="alert2" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hurray!</strong> All order placed,Please continue shoping.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart; let i = index" [attr.data-index]="i">
              <td>Item : {{ i+1 }}</td>
              <td><img src="{{ asset+item.image }}" style="width:50px;height:50px;"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} <span> x </span> {{ item.quantity }}</td>
               
                <td>
                <button class="btn" (click)="deleteData(item.id)" style="margin:5px;"><i class="fa fa-trash"></i></button>
                <button class="btn" (click)="increaseQuantity(item.id)" style="margin:5px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn" (click)="decreaseQuantity(item.id)" style="margin:5px;"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </td> 
              <!--  <button class="btn btn-warning btn-sm mx-2" routerLink="../trackOrder">Details</button>
             <button class="btn btn-warning btn-sm mx-2" routerLink="updateImage/{{ pro.id }}">Update Image</button>
           --> 
              </tr>
         
        </tbody>
      </table>
     

    </div>

    <div class="container">
        <form (ngSubmit)="cartToPlaceOrder()">
          
         
            <div class="form-group">
                <textarea class="form-control" id="address" rows="3"placeholder="Enter address" name="adress" [(ngModel)]="order.address"></textarea>
            </div>
            <label for="method">Choose a Payment Method : </label>
    
            <select name="payment_method"  [(ngModel)]="order.payment_method">
                
                <option value="emi">Pay on EMI</option>
                <option value="online">NetBanking/Credit-card/Debit-card</option>
                <option value="cod">Cash On Delivery</option>
            
            </select>        
            <br>
            
            <button type="submit" class="btn btn-success" >Place Order</button>
        </form>
      </div>



  

<!--- Footer --->
<footer>
  <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                  <div class="card bg-secondary border-0">
                      <div class="card-body text-light text-center">
                          <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
                      <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br>
                      <a href="#" class="text-light d-block lead">Blog</a>
                      </p>

                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                  <div class="card bg-secondary border-0">
                      <div class="card-body text-center">
                          <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
                          <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+90 (000) 000 0 000</a>
                          <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a>
                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="card bg-secondary border-0">
                      <div class="card-body text-center">
                      <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>
              
                              <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
                          
                              <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
                          
                              <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                          
                              <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                          
                      </div>
                  </div>
              </div>	
          </div>
      </div>
  </div>
</footer>
<!--# Footer #-->


