<div class="container">


     <!-- Heading Row -->
     <div class="row align-items-center my-5">
          <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{{asset + object.image}}" alt="" style="width:400px;height:400px;">
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-5">
            <h1 class="font-weight-light">{{object.name}}</h1>
            <p>{{ object.price | currency }}</p>
            <p>{{ object.specifications }}</p>
            
          </div>
          <!-- /.col-md-4 -->
    </div>
    <form (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control"  name="name" [(ngModel)]="product.name">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">price</label>
          <input type="text" class="form-control"  name="price" [(ngModel)]="product.price">
        </div>
        <div class="mb-3">
            <label for="specifications" class="form-label">specifications</label>
            <input type="text" class="form-control"  name="specifications" [(ngModel)]="product.specifications">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control"  name="image" [(ngModel)]="product.image">
          </div>
        
        <button  type="submit" class="btn btn-primary">Update</button>
      </form>
  </div>