<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Digi-Admin </div>
      <div class="list-group list-group-flush">
        <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="addProduct" class="list-group-item list-group-item-action bg-light">Add Product</a>
        <a routerLink="getOrders" class="list-group-item list-group-item-action bg-light">Orders</a>
        <a routerLink="getProduct" class="list-group-item list-group-item-action bg-light">Products</a>
        <a routerLink="getUsers" class="list-group-item list-group-item-action bg-light">Users</a>
        <a routerLink="userAddress" class="list-group-item list-group-item-action bg-light">User Address</a>
        <a routerLink="inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
  
  
  


 <div class="container"> 
   
    <div  class="row">
    
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of message">
            <div class="card h-100" >
                 <div class="card-body">
                <h4 class="card-title">
                    <p class="card-text">{{ item.subject }}</p>
                </h4>
                <h5>Time: {{ item.created_at }}</h5>
                <p class="card-text">{{ item.message }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ item.name }}</small>
            </div>
            <div class="card-footer">
                <button  class="btn btn-primary">Reply</button>
            </div>
        </div>
    </div>
</div>  
