<header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" routerLink="getProduct"><i class="fa fa-graduation-cap fa-lg mr-2"></i>DigiShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					
					

					
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>AboutUs</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-user-plus fa-fw mr-1"></i>ContactUs</a>
					</li>
					<li class="nav-item pl-1">
						<a class="btn btn-warning" routerLink="../login"><i class="fa fa-sign-in fa-fw mr-1"></i>Login</a>
					</li>
				
					
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
	</header>

<div class="container">
  <form (ngSubmit)="createUser()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customer.email">
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="customer.password">
        </div>
        <div class="mb-3">
          <label for="c_password" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" id="c_password" name="c_password" [(ngModel)]="customer.c_password">
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>





<!--- Footer --->
<footer>
  <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-light text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
            <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br>
            <a href="#" class="text-light d-block lead">Blog</a>
            </p>

            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
              <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+90 (000) 000 0 000</a>
              <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
            <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>
        
                <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
              
            </div>
          </div>
        </div>	
      </div>
    </div>
  </div>
</footer>
<!--# Footer #-->