
<div class="container">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User_Id</th>
          <th scope="col">created_at</th>
          <th scope="col">address</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of address">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.user_id }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.address }}</td>
              <td>
              <!-- <button class="btn btn-danger btn-sm" (click)="deleteData(pro.id)">Delete</button>
            <button class="btn btn-warning btn-sm mx-2" routerLink="updateProduct/{{ pro.id }}">Edit</button>
            <button class="btn btn-warning btn-sm mx-2" routerLink="updateImage/{{ pro.id }}">Update Image</button>
            --> 
          </td>
            </tr>
      
      </tbody>
    </table>

</div>